! vim:ft=xdefaults:

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

xterm*termName: xterm-256color
xterm*scaleHeight: 1.1
xterm*geometry: 52x12
xterm*internalBorder: 120
xterm*borderWidth: 0

xterm*utf8: true
xterm*scrollBar: false
xterm*cursorBlink: false
xterm*selectToClipboard: true
xterm*trimSelection: true
xterm*renderFont: true
xterm*wideChars: true
xterm*visualBell: false

xterm.vt100.translations: #override \n\
    Shift Ctrl <KeyPress> v:insert-selection(CLIPBOARD) \n\
    Shift Ctrl <KeyPress> c:select-set(CLIPBOARD)

xterm*faceName:monospace:pixelsize=32:antialias=true
xterm*faceNameDoublesize:monospace:pixelsize=32:antialias=true
xterm*wideFont:monospace:pixelsize=32:antialias=true

*background:   #192d36
*foreground:   #a3ebf5
*cursorColor:  #a3ebf5
*color0:       #20343e
*color1:       #ff9726
*color2:       #26e4ff
*color3:       #ff9726
*color4:       #26e4ff
*color5:       #ff9726
*color6:       #26e4ff
*color7:       #a3ebf5
*color8:       #497284
*color9:       #ff9726
*color10:      #26e4ff
*color11:      #ff9726
*color12:      #26e4ff
*color13:      #ff9726
*color14:      #26e4ff
*color15:      #a3ebf5
