! vim:ft=xdefaults:

Xft.dpi: 192
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.antialias: 1
Xft.rgba: rgb

XTerm*termName: xterm-256color
XTerm*scaleHeight: 1.2
XTerm*geometry: 45x9
XTerm*internalBorder: 150
XTerm*borderWidth: 0

XTerm*utf8: true
XTerm*scrollBar: false
XTerm*cursorBlink: true
XTerm*selectToClipboard: true
XTerm*trimSelection: true
XTerm*renderFont: true
XTerm*wideChars: true
XTerm*visualBell: false

XTerm.vt100.translations: #override \n\
    Shift Ctrl <KeyPress> v:insert-selection(CLIPBOARD) \n\
    Shift Ctrl <KeyPress> c:select-set(CLIPBOARD)

! pixelsize is relative to screen resolution, size is relative to DPI.
*font: xft:monospace:pixelsize=34
XTerm.vt100.faceName: xft:monospace:pixelsize=34

*foreground: #554f42
*background: #fdf5e5

*cursorColor: #554f42

*color0: #fdf5e5
*color8: #b1aa9b

*color1: #c54c4c
*color9: #c54c4c

*color2: #30ab7e
*color10: #30ab7e

*color3: #f97857
*color11: #f97857

*color4: #3072ab
*color12: #3072ab

*color5: #c54c79
*color13: #c54c79

*color6: #5f96ab
*color14: #5f96ab

*color7: #554f42
*color15: #554f42
