! vim:ft=xdefaults:

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

xterm*termName: xterm-256color
xterm*scaleHeight: 1.1
xterm*geometry: 52x12
xterm*internalBorder: 120
xterm*borderWidth: 0

xterm*utf8: true
xterm*scrollBar: false
xterm*cursorBlink: false
xterm*selectToClipboard: true
xterm*trimSelection: true
xterm*renderFont: true
xterm*wideChars: true
xterm*visualBell: false

xterm.vt100.translations: #override \n\
    Shift Ctrl <KeyPress> v:insert-selection(CLIPBOARD) \n\
    Shift Ctrl <KeyPress> c:select-set(CLIPBOARD)

xterm*faceName:monospace:pixelsize=32:antialias=true
xterm*faceNameDoublesize:monospace:pixelsize=32:antialias=true
xterm*wideFont:monospace:pixelsize=32:antialias=true

*background: #1A2026
*foreground: #F4F5F2
*cursorColor: #F4F5F2

*color0: #1A2026
*color8: #526170
!*color0: #242D35
!*color8: #526170

*color1: #FB6396
*color9: #FB6396

*color2: #94CF95
*color10: #94CF95

*color3: #F692B2
*color11: #F692B2

*color4: #6EC1D6
*color12: #6EC1D6

*color5: #CD84C8
*color13: #CD84C8

*color6: #7FE4D2
*color14: #7FE4D2

*color7: #F4F5F2
*color15: #F4F5F2
