#!/bin/sh

######################
### AUTOCOMPLETION ###
######################

# Make Tab autocompletion case-insensitive.
set completion-ignore-case On

# Add a trailing "/" when autocompleting symlinks to directories.
set mark-symlinked-directories on

# Do not expand "~" to the home directory when completing.
# The actual value passed to the command is still expanded though.
# "Off" is the default value, but some servers override this
set expand-tilde off

# Flip through autocompletion matches with Shift-Tab.
"\e[Z": menu-complete

# Show all autocomplete results at once.
set page-completions off

# Immediately show all possible completions.
set show-all-if-ambiguous on

# Show extra file information when completing, like ls -F does.
set visible-stats on

# Be more intelligent when autocompleting.
# Not supported in < Bash 4 versions
set skip-completed-text on

# Use the text that has already been typed as the prefix for searching through commands history.
"\e[B": history-search-forward
"\e[A": history-search-backward

# Try to stay at the same position when moving through the history
set history-preserve-point on

####################
### LINE EDITING ###
####################

# Allow UTF-8 input and output, instead of showing them like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off

# Home/End
"\e[1~": beginning-of-line
"\e[4~": end-of-line


############
### MISC ###
############

# Stay quited, terminal.
set bell-style none
