Xft.dpi: 133
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*font: xft:SF Mono Medium:pixelsize=11,xft:SF Mono Medium Italic:pixelsize=11,xft:SF Mono Bold:pixelsize=11,xft:SF Mono Bold Italic:pixelsize=11

*background: #32323E

*foreground: #FFFFFF
*cursorColor: #FFFFFF

! black
*color0:  #6E7288
*color8:  #6E7288

! red
*color1:  #FF4B12
*color9:  #FF4B12

! green
*color2:  #52E3C2
*color10: #52E3C2

! yellow
*color3:  #ED8A19
*color11: #ED8A19

! blue
*color4:  #0781FF
*color12: #0781FF

! magenta
*color5:  #FF4495
*color13: #FF4495

! cyan
*color6:  #40C4FF
*color14: #40C4FF

! White
*color7:  #FFFFFF
*color15: #FFFFFF
