Xft.dpi: 133
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*font: xft:SF Mono Medium:pixelsize=11,xft:SF Mono Medium Italic:pixelsize=11,xft:SF Mono Bold:pixelsize=11,xft:SF Mono Bold Italic:pixelsize=11

*background: #0F191D

*foreground: #B5ECCC
*cursorColor: #75DEA2

! black
*color0:  #2F444A
*color8:  #2F444A

! red
*color1:  #437D60
*color9:  #437D60

! green
*color2:  #4D916D
*color10: #4D916D

! yellow
*color3:  #58A67B
*color11: #58A67B

! blue
*color4:  #5EB484
*color12: #5EB484

! magenta
*color5:  #6ECF98
*color13: #6ECF98

! cyan
*color6:  #75DEA2
*color14: #75DEA2

! White
*color7:  #B5ECCC
*color15: #B5ECCC
