Xft.dpi: 133
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*font: xft:SF Mono Medium:pixelsize=11,xft:SF Mono Medium Italic:pixelsize=11,xft:SF Mono Bold:pixelsize=11,xft:SF Mono Bold Italic:pixelsize=11

*background: #0f191d
*foreground: #65987c

*cursorColor: #98baa7

! black
*color0:  #2f444a
*color8:  #2f444a

! red
*color1:  #8a6b5c
*color9:  #8a6b5c

! green
*color2:  #58856d
*color10: #58856d

! yellow
*color3:  #65987c
*color11: #65987c

! blue
*color4:  #71a086
*color12: #71a086

! magenta
*color5:  #8bb19b
*color13: #8bb19b

! cyan
*color6:  #98baa7
*color14: #98baa7

! White
*color7:  #c7d9ce
*color15: #c7d9ce
