* {
	font-family: "Operator Mono" !important;
	background-color: #12181D !important;
	color: #B2BEBF !important;
	border: none !important;
	border-top: none !important;
	border-right: none !important;
	border-bottom: none !important;
	border-left: none !important;
}

*::before {
	background-image: none !important;
}

pre,
textarea,
body,
td,
tr,
p {
	font-family: "Operator Mono" !important;
	background-color: #12181D !important;
	color: #B2BEBF !important;
}

div {
	font-family: "Operator Mono" !important;
	background-color: #12181D !important;
	color: #B2BEBF !important;
}

h1 {
	font-family: "Operator Mono" !important;
	background-color: #12181D !important;
	color: #B2BEBF !important;
}

a h1 {
	font-family: "Operator Mono" !important;
	color: #6D6E75 !important;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "Operator Mono" !important;
	background-color: #12181D !important;
	color: #B2BEBF !important;
}

a h2,
a h3,
a h4,
a h5,
a h6 {
	font-family: "Operator Mono" !important;
	color: #6D6E75 !important;
}

a p {
	font-family: "Operator Mono" !important;
	color: #566166 !important;
}

a {
	font-family: "Operator Mono" !important;
	color: #96858D !important;
	background-color: #12181D !important;
	border: none !important;
}

button {
	font-family: "Operator Mono" !important;
	background-color: #12181D !important;
	color: #96858D !important;
	border: none !important;
	border-radius: 0 !important;
}

summary {
	font-family: "Operator Mono" !important;
	background-color: #12181D !important;
	color: #B2BEBF !important;
	border: none !important;
	border-radius: 0 !important;
}

button svg,
button i,
button span,
button div,
button p,
button h1,
button h2,
button h3,
button h4,
button h5,
button h6,
a svg,
a i,
a span,
a div {
	font-family: "Operator Mono" !important;
	background-color: #12181D !important;
	color: #96858D !important;
}

summary svg,
summary i,
summary span,
summary div,
summary p,
summary h1,
summary h2,
summary h3,
summary h4,
summary h5,
summary h6,
button svg {
	background-color: #12181D !important;
	color: #96858D !important;
}

a svg {
	fill: #96858D !important;
}

summary svg {
	fill: #96858D !important;
}

svg {
	fill: #96858D !important;
}

hr {
	display: none !important;
}

input, form {
	font-family: "Operator Mono" !important;
	background-color: #12181D !important;
	color: #96858D !important;
	border-radius: 0 !important;
}

input {
	font-family: "Operator Mono" !important;
	border: 1px solid #96858D !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	height: 32px !important;
}

label svg {
	display: none !important;
}

form {
	font-family: "Operator Mono" !important;
	border: none !important;
}

pre,
code {
	color: #B98675 !important;
	background: #0D202F !important;
	border: none !important;
	border-radius: 4px !important;
}

pre span,
code span {
	color: #949AA9 !important;
	background: #0D202F !important;
}

[class*="cookie"],
[class^="cookie-"],
[class$="-cookie"],
[id*="cookie"],
[id^="cookie-"],
[id$="-cookie"] {
	display: none !important;
	visibility: hidden !important;
}
